body {
    text-align: Center;
    font-family: Arial, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 25%;    
}

h1 {
    font-size: 8vw;
    color: rgb(36, 36, 216);
}

input[type=text] {
    width: 50%;
}

nav {
    font-size: 14px;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.btn_app {
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    background-color: lightgray;
    font-size: small;
    padding: 10px 20px;
    

}

